desktop-base-width     = 1200px
rupture.desktop-cutoff = $tablet = 1280px
rupture.mobile-cutoff  = $mobile = 710px
rupture.anti-overlap   = -1px

$cinza = #737476
$vermelho = #AD2624

@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i|Raleway:300,400,700');
ptsans($size, $weight = normal, $style = normal)
    font-size $size + 0px
    font-family 'PT Sans', 'Helvetica', 'Arial', sans-serif
    font-weight 400
    font-style $style
    if $weight == bold
        font-weight 700

raleway($size, $weight = normal, $style = normal)
    font-size $size + 0px
    font-family 'Raleway', 'Helvetica', 'Arial', sans-serif
    font-weight 400
    font-style $style
    if $weight == light
        font-weight 300
    if $weight == bold
        font-weight 700
