.clipping
    .clipping-thumbs
        clearfix()
        padding-left 1px
        a
            display block
            float left
            width 16.6667%
            width calc('16.6667% + 1px')
            height 0
            padding-bottom 16.6667%
            +tablet()
                width 25%
                width calc('25% + 1px')
                padding-bottom 25%
            +mobile()
                width 50%
                width calc('50% + 1px')
                padding-bottom 50%
            position relative
            background #fff
            transition background .3s, border .3s
            border 1px solid lighten($cinza, 40)
            margin-left -1px
            margin-top -1px
            &:after
                content ''
                position absolute
                bottom 10px
                right 10px
                width 30px
                height 30px
                background-color $vermelho
                background-repeat no-repeat
                background-position center
                border-radius 100%
                +mobile()
                    width 20px
                    height 20px
                    background-size 90%
            &.link:after
                background-image $img('ico-clipping-link.png')
            &.pdf:after
                background-image $img('ico-clipping-pdf.png')
            &.video:after
                background-image $img('ico-clipping-video.png')
            &.imagem:after
                background-image $img('ico-clipping-imagem.png')
            &:hover
                background $cinza
                border 1px solid $cinza
                span
                    color #fff
            .video-thumb
                position absolute
                width 90%
                height 90%
                top 5%
                left 5%
                background-position center
                background-repeat no-repeat
                background-size 100% auto
            img
                position absolute
                top 5%
                left 5%
                width 90%
                height 90%
                display block
            span
                display block
                width 90%
                text-align center
                position absolute
                top 50%
                left 5%
                transform translateY(-50%)
                ptsans 15 bold
                color $vermelho
                transition color .3s
                +mobile()
                    font-size 13px
