.contato
    .box
        background $vermelho
        padding 35px
        height auto
        clearfix()
        +mobile()
            padding 20px
        span
            display inline-block
            float left
            ptsans 24 bold
            color #fff
            margin-top 70px
            +tablet()
                float right
                margin 0 0 30px
            +mobile()
                margin 0 0 20px
        form
            width 700px
            float right
            background #fff
            padding 20px
            +mobile()
                width 100%
            +tablet()
                width 100%
            .col
                width 50%
                padding-right 10px
                float left
                +mobile()
                    width 100%
                    padding 0
            input
                width 100%
                margin-bottom 10px
            textarea
                width 50%
                height 240px
                float right
                +mobile()
                    width 100%
                    margin-bottom 10px
            input
            textarea
                border 0
                resize none
                ptsans 14
                background #EFEFEF
                padding 8px
                outline 0
            input[type='submit']
                background $vermelho
                color #fff
                font-weight 700
                float right
                display inline-block
                width auto
                padding 8px 45px
                margin-right 10px
                +mobile()
                    float left
                    margin 0 0 10px
            #form-contato-response
                width auto
                display none
                float right
                margin-right 10px
                border 1px solid rgba($vermelho, .5)
                ptsans 12 bold
                text-transform uppercase
                color $vermelho
                text-align center
                padding 8px
                +mobile()
                    width 100%
                    margin 0
    .endereco
        ptsans 14
        margin 2em 0
        text-align center
        display block
        +mobile()
            margin 1.5em 0
    .mapa
        width 100%
        height 450px
        +tablet()
            height 325px
        +mobile()
            height 250px
        iframe
            display block
            width 100%
            height 100%
