.banners
    height 600px
    width desktop-base-width
    margin 0 auto 65px
    position relative
    +tablet()
        width 100%
        height 450px
    +mobile()
        width 100%
        height 325px
        margin-bottom 0
    .slide
        position absolute
        top 0
        left 0
        width 100%
        height 100%
        background-size cover
        overflow hidden
        span
            position absolute
            top 0
            left 0
            height 70px
            display inline-block
            line-height 70px
            raleway 30 light
            padding 0 20px
            color #fff
            background $cinza
            border-bottom 4px solid $vermelho
            white-space nowrap
            +below($tablet)
                width 100%
                white-space normal
                font-size 24px
                position relative
                line-height 1.5
                height auto
                padding 20px
                min-height 80px
            +mobile()
                font-size 20px
                padding 12px
                min-height 58px
    .cycle-pager
        position absolute
        width 100%
        height 6px
        left 0
        bottom -20px
        text-align center
        font-size 0
        +mobile()
            display none
        a
            display inline-block
            width 90px
            height 6px
            background #E6E6E6
            transition background .3s
            margin 0 2px
            +tablet()
                width 60px
            &.cycle-pager-active
                background #737476
