.perfil
    .chamada
        background $vermelho
        position relative
        clearfix()
        p
            display block
            width 50%
            float left
            raleway 26 light
            line-height 1.6
            color #fff
            text-align right
            padding 120px 30px 60px 100px
            margin 0
            +tablet()
                raleway 22 light
                padding-top 90px
                padding-left 20px
                padding-bottom 30px
                width 60%
            +mobile()
                raleway 18
                padding 20px
                width 100%
                text-align left
                float none
                br
                    display none
        .imagem
            width 50%
            height 100%
            right 0
            top 0
            position absolute
            img
                display block
                max-width 100%
                position absolute
                bottom 0
                left 50%
                transform translateX(-50%)
            +tablet()
                width 40%
                img
                    max-height 95%
            +mobile()
                width 100%
                height auto
                position relative
                right auto
                top auto
                img
                    display block
                    position relative
                    width 80%
                    max-width 250px
    .texto
        clearfix()
        p
            ptsans 16
            color #666
            margin 1.8em 0
        .col
            width 50%
            float left
            &:nth-child(1)
                text-align right
                padding-left 120px
                padding-right 22px
            &:nth-child(2)
                text-align left
                padding-right 120px
                padding-left 22px
            +below($tablet)
                width 100%
                padding 0 !important
                text-align left !important
                p
                    margin 1.5em 0
                    &:last-child
                        margin-bottom 0
            +mobile()
                p
                    font-size 15px
                    margin 1.2em 0
