.projetos-index
    .capa
        display block
        width 100%
        height auto
        margin-bottom 20px
        +mobile()
            display none
    .projetos-thumbs
        clearfix()
        a
            width 32.777%
            margin-right 0.833%
            display block
            float left
            margin-bottom 0.833%
            position relative
            .overlay
                position absolute
                top 0
                left 0
                width 100%
                height 100%
                background rgba($cinza, .8)
                opacity 0
                transition opacity .3s
                +below($tablet)
                    display none
                span
                    position absolute
                    width 100%
                    text-align center
                    display block
                    top 50%
                    transform translateY(-50%)
                    ptsans 16
                    color #fff
                    text-transform uppercase
            &:hover .overlay
                opacity 1
            &.destaque
                width 49.583%
            &:nth-child(3n)
                margin-right 0
            img
                width 100%
                display block
            +mobile()
                width 49%
                margin-right 2%
                margin-bottom 2%
                &.destaque
                    width 100%
                &:nth-child(3n)
                    margin-right 2%
                &:nth-child(2n)
                    margin-right 0

.projetos-show
    .projeto-descricao
        background #4D4D4D
        padding 30px 30px 30px 320px
        margin-bottom 30px
        +tablet()
            padding-left 288px
        +mobile()
            padding 15px 100%
            margin -5% -100% 15px
        p
            margin 0
            color #fff
            ptsans 16
            span
                display block
                font-size 12px
    .imagens
        text-align center
        font-size 0
        margin 0 auto
        img
            display block
            margin 0 auto 10px
            max-width 100%
