footer
    background $cinza
    text-align center
    padding 15px 0
    color #fff
    nav
        width 60%
        margin 0 auto
        border-bottom 1px solid #fff
        padding-bottom 5px
        font-size 0
        +tablet()
            width 100%
        +mobile()
            display none
        a
            ptsans 14
            display inline-block
            margin 0 30px 0 0
            +tablet()
                margin-right 20px
            &:hover
                color $vermelho
            &.social
                width 12px
                height 12px
                text-indent -9999px
                margin 0 2px
                transform translateY(3px)
                background-repeat no-repeat
                background-position top center
                transition background .3s
                &:hover
                    background-position bottom center
                &.facebook
                    background-image $img('ico-facebook.png')
                &.instagram
                    background-image $img('ico-instagram.png')
    .contato
        margin 10px 0 20px
        ptsans 14
        +mobile()
            margin 0 0 15px
        span
            margin-left 30px
            ptsans 15 bold
            +tablet()
                margin-left 20px
            +mobile()
                display block
                margin 5px 0 0
    .copyright
        margin 0
        ptsans 10
        a:hover
            color $vermelho
        +mobile()
            span
                font-size 0
                display block
