.home header:after
    +below($tablet)
        display none !important

header
    background $cinza
    width 100%
    height 155px
    position relative
    +tablet()
        height 135px
    +mobile()
        height 100px
    .center
        height 100%
        clearfix()
        padding 0 20px
        +below($tablet)
            padding 0
    &:after
        content ''
        position absolute
        bottom -70px
        left 0
        width 100%
        height 70px
        background $cinza
        border-bottom 4px solid $vermelho
        z-index -1
        +mobile()
            display none
    #nav-desktop
        display block
        float left
        margin-top 65px
        font-size 0
        +below($tablet)
            display none
        a
            ptsans 14
            display inline-block
            margin 0 25px 0 0
            color #fff
            position relative
            &:hover
            &.active
                &:after
                    opacity 1
            &:after
                content ''
                position absolute
                width 100%
                bottom -4px
                left 0
                height 2px
                background $vermelho
                opacity 0
                transition opacity .3s
            &.social
                width 12px
                height 12px
                text-indent -9999px
                margin 0 2px
                transform translateY(3px)
                background-repeat no-repeat
                background-position top center
                transition background .3s
                &:after
                    display none
                &:hover
                    background-position bottom center
                &.facebook
                    background-image $img('ico-facebook.png')
                &.instagram
                    background-image $img('ico-instagram.png')
    .marca
        display block
        float right
        width 152px
        height 55px
        background $img('marca-derossi.png') no-repeat center
        text-indent -9999px
        margin-top 35px
        +below($tablet)
            float left
        +mobile()
            height 100%
            margin -5px 0 0
    .telefone
        display block
        float right
        ptsans 16 bold
        color #fff
        margin-top 57px
        margin-left 40px
        +tablet()
            margin-left 0
        +mobile()
            display none
    #mobile-toggle
        +above($tablet)
            display none
        display block
        background-color transparent
        border 0
        position relative
        float right
        height 100%
        width 30px
        outline 0
        padding 0
        margin-left 30px
        +mobile()
            margin-left 15px
        .lines
            display block
            width 100%
            height 4px
            background #fff
            position relative
            transition .3s ease
            border-radius 2px
            &:before
            &:after
                content ""
                display block
                position absolute
                left 0
                width 100%
                height 4px
                border-radius 2px
                background #fff
                transition .3s ease
            &:before
                top 8px
            &:after
                top -8px
        &.close
            .lines
                background transparent
                &:before
                &:after
                    transform-origin 50% 50%
                    top 0
                &:before
                    transform rotate3d(0,0,1,45deg)
                &:after
                    transform rotate3d(0,0,1,-45deg)
    #nav-mobile
        +above($tablet)
            display none !important
        display none
        background $vermelho
        position absolute
        z-index 9999
        top 135px
        border-bottom 3px solid darken($vermelho, 10)
        +mobile()
            top 100px
        width 100%
        padding 20px 0
        text-align center
        a
            ptsans 16 bold
            color #fff
            display block
            margin 0 0 4px
            &.active
                color #222
            &.social
                display inline-block
                width 12px
                height 12px
                text-indent -9999px
                margin 12px 2px 0
                transform translateY(3px)
                background-repeat no-repeat
                background-position top center
                transition background .3s
                &.facebook
                    background-image $img('ico-facebook.png')
                &.instagram
                    background-image $img('ico-instagram.png')

.main
    width 100%
    position relative
    padding-bottom 70px
    overflow-x hidden
    +tablet()
        padding-bottom 50px
    +mobile()
        padding-bottom 30px
    .center
        height 100%
        position relative
        h1
            position absolute
            z-index 100
            margin 0
            top 0
            left 0
            display inline-block
            height 70px
            line-height 70px
            raleway 30 light
            padding 0 20px
            color #fff
            background $cinza
            border-bottom 4px solid $vermelho
            white-space nowrap
            +tablet()
                raleway 26 light
            +mobile()
                raleway 22 light
                display block
                height auto
                line-height 1
                position relative
                margin 0 -100% 5%
                padding 12px 100%

.box
    width 100%
    height 100px
    margin-bottom 30px
    background $vermelho
    +mobile()
        display none
